<div class="header">
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <img src="/assets/images/logo-white.png" alt="logo">
            </div>
            <ul class="nav-list">
                <li><a href="">系列鏡框</a></li>
                <li><a href="">門市據點</a></li>
                <li><a href="">部落格</a></li>
                <li><a href="">常見問題</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="banner">
    <div class="container">
        <div class="banner-content">
            <h1>Promise-Desert 2020 早春系列</h1>
            <h2>看得清，才能看得遠</h2>
            <button>
                <p>立即購買</p>
            </button>
        </div>
    </div>
</div>




<a href="index.html">index</a>
<a href="about.html">about</a>
<a href="contact.html">contact</a>