<div class="header">
    <div class="container">
        <div class="navbar d-flex jcsb">
            <div class="logo">
                <img src="/assets/images/logo-white.png" alt="logo">
            </div>
            <ul class="nav-list">
                <li class="fz-20"><a href="#">系列鏡框</a></li>
                <li class="fz-20"><a href="#">門市據點</a></li>
                <li class="fz-20"><a href="#">部落格</a></li>
                <li class="fz-20"><a href="#">常見問題</a></li>
            </ul>
        </div>
    </div>
</div>


<a href="index.html">index</a>
<a href="about.html">about</a>
<a href="contact.html">contact</a>