.fz-20 {
    font-size: 20px;
}

.fz-36 {
    font-size: 36px;
}

.fz-64 {
    font-size: 64px;
}


.d-flex {
    display: flex;
}

.jcsb {
    justify-content: space-between;
}

.aic {
    align-items: center;
}