.header {
  background: #AA0601;
}

.fz-20 {
  font-size: 20px;
}

.nav-list a {
  color: #fff;
}

.logo img {
  width: 80px;
  height: 49px;
}

.d-flex {
  display: flex;
}

.jcsb {
  justify-content: space-between;
}